* {
  box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#f7bc46, #46F7BC, #BC46F7);
   /* background-image: linear-gradient(60deg, #F3E9DC, #C08552, #895737);*/
    /*background-image: linear-gradient(60deg, #5E3023, #C08552, #DAB49D);*/
    background-size: 600% 600%;
    padding: 0;
    margin: 0;
    animation: bgAnimatedGradient 10.5s infinite linear;
}

.profileImage {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    padding: 25px;
    /*border: 1px solid black;*/
    margin-bottom: 0px;

}

.profileImageContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.profileBioContainer {
    text-align: center;
}

.profileTitle {
    font-family: Bebas Neue;
    font-size: 48px;
    /*border: 1px solid black;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.profileBio {
    font-family: Bebas Neue;
    font-size: 28px;
    margin-top: 0px;
    /*border: 1px solid black;*/
}

@media screen and (max-width: 500px) {
    .profileBio {
        font-size: 22px;
    }
  }

em {
    text-decoration: underline;
    text-decoration-color: red;
    color: white;
}

.socialLinksContainer a {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px 35px 20px 0px;
    padding: 20px;
    border: 3px solid black;
    background-color: black;
    color: white;
    opacity: 0.75;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.socialLinksContainer a:hover {
    background-color: white;
    color: black;
    transform: scale(1.02);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 500px) {
    .socialLinksContainer {
      margin: 20px 10px 20px 0px;
    }
  }

li {
    list-style-type: none;
    font-family: Bebas Neue;
    font-size: 21px;
    text-align: center;
}

.createdBy {
    font-family: Bebas Neue;
    font-size: 18px;
    text-align: center;
}

@keyframes bgAnimatedGradient {
    0% {
      background-position: 0% 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100% {
      background-position: 0% 85%;
    }
  }

@media screen and (min-width: 768px) {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    width: 50%;
  }
  
  ul li a {
    width: 100%;
  }
}
